:root {
  --red: #ff0000;
  --white: #ffffff;
}

.slide {
position: relative;
}

.slide::after {
  /*border-radius: 50%;*/
  display: block;
  width: 35px;
  height: 35px;
  font-size: 1rem;
  position: absolute;
  background: transparent;
  background-color: red;
  border-bottom-left-radius: 50%;

  left: auto;
  top: 0px;
  right: 0;
  bottom: auto;
  padding: 0;

}
.bg-image {
  color: var(--red);
  background-color: transparent;
  background-repeat: no-repeat;
  background-image: url("../img/slide1.jpg");
  background-size: cover;
  background-position: 50% 50%;
}

.bg-image-2 {
  background-color: var(--white);
  background-image: url("../img/slide2.jpg");
  background-size: 100%;

}
.bg-image-3 {
  background-color: var(--white);
  background-repeat: space;
  background-image: url("../img/slide4.jpg");
  background-size: 75%;
    background-position: 60% 40%;
}

.qr {
  background-color: var(--white);
  background-repeat: no-repeat;
  background-image: url("../img/qr.jpg");
  background-size: 15%;
    background-position: 50% 20%;

}



#cover h2 {
  margin: 30px 0 0;
  color: white;
  text-align: center;
  font-size: 70px;
}

#cover p {
  margin: 10px 0 0;
  text-align: center;
  color: white;
  font-style: italic;
  font-size: 20px;
}

#cover p a {
  color: white;
}

.ttu {
  text-transform: uppercase;
}

.fwb {
  font-weight: bold;
}

.fz32 {
  font-size: 32px;
}

.fz44 {
  font-size: 44px;
}

.fwn {
  font-weight: 400;
}


#see-more h2 {
  font-size: 100px
}

#see-more img {
  width: 0.72em;
  height: 0.72em;
}
